---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedinIcon from '../icons/Linkedin.astro'
import GithubIcon from '../icons/Github.astro'
import MailIcon from '../icons/Mail.astro'
import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import BriefCaseIcon from '../icons/BriefCase.astro';
import CodeIcon from '../icons/Code.astro';
import  SliderReact  from '../components/SliderReact';



---

<Layout
 title="Portfolio Matias Ongay - Web Developer and Programmer"
 description="Hire matias ongay to develop LandingPages, Applications, ecommerce with mobile and adaptive design"
 >
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<img class="rounded-full size-12 mb-4" src="" alt="foto matias ongay">
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex justify-center flex-row gap-x-5 gap-x-4 pb-6  lg:pb-10">Hey, my name is Matias Ongay
			<a
			href="https://www.linkedin.com/in/matias-ongay-564135251/?locale=en_US"
			target="_blank"
			rel="noopener"
			class="flex justify-center items-center">
			<Badge>Available to work</Badge>
			</a></h1>
			<h2 class="text-xl lg:text-2xl text-wrap masx-w-[700px]"><span class="opacity-80">+2 years of experience.</span> <span class="text-blue-200/90 ">Web Developer.</span>  <span class="opacity-80">From Argentina.</span>
			<span class="text-yellow-200/90">Efficient site builder.</span>
			</h2>
			
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/matias-ongay-564135251/?locale=en_US">
					<LinkedinIcon class="size-4 md:size-6"></LinkedinIcon>LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/Matias-Ongay?tab=repositories">
					<GithubIcon class="size-4 md:size-6"></GithubIcon>GitHub
				</SocialPill>
				<SocialPill href="https://www.linkedin.com/in/matias-ongay-564135251/?locale=en_US">
					<MailIcon class="size-4 md:size-6"></MailIcon>ongaymatias@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>


		<SectionContainer id="experience">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
			<BriefCaseIcon class="size-8"/>	Work Experience</h2>
			<Experience/>
		</SectionContainer>
		<SectionContainer id="projects">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-8"/>Projects in Code</h2>
				<SliderReact client:load projectType="CODE"/>
		</SectionContainer>
		<SectionContainer id="projects">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-8"/>Projects in WordPress</h2>
				<SliderReact client:load projectType="Wordpress"/>
		</SectionContainer>
		
	</main>
</Layout>

