<header class="z-10 flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto text-sm sm:text-base font-medium">


    <span></span>

    <nav class="mt-8 fixed flex flex-row gap-x-8 bg-white/50 bg-opacity-50 rounded-full p-4 backdrop-blur">
        <a href="#top" class="hover:text-yellow-200/90">Home</a>
        <a href="#experience" class="hover:text-yellow-200/90">Experience</a>
        <a href="#projects" class="hover:text-yellow-200/90">Projects</a>
        <a href="#about"class="hover:text-yellow-200/90">About</a>
        <a href="#contact" class="hover:text-yellow-200/90">Contact</a>
    </nav>
    
</header>